<div class="modal fade" id="{{nameId}}" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h3 class="modal-title text-center {{nameId}}">{{nameShow}}</h3>

                <div style="right: 2%; z-index: 10" class="position-absolute">
                    <a role="button" class="link-light" data-bs-dismiss="modal">
                        <i class="fas fa-times align-middle h3 m-0"></i>
                    </a>
                </div>
            </div>

            <div class="modal-body">
                {{> accountsBodyModal this}}
            </div>
        </div>
    </div>
</div> 