<div class="col-12 col-lg-4 mb-3 mb-lg-0" style="height: 25vh;">
    <a role="button" class="card-box" data-bs-toggle="modal" data-bs-target="#all">

        <img class="img-fluid" src="assets/images/icons/all.png" alt="">
        <div class="card-box-caption">
            <div class="description-head">
                bills
            </div>
            <div class="description-body default">
                All
            </div>
        </div>
    </a>
</div>