<div class="container-fluid h-100">
    <div style="right: 1%; top:1%; z-index: 10" class="position-absolute">
        <button class="btn toggle-btn btn-outline-light" onclick="toggleUpdateValues()"><i class="fas fa-sync-alt"></i></button>
    </div>
    <div class="row justify-content-center text-center">
        <div class="col-10 col-sm-6 col-lg-3">
            <div class="form-floating my-2">
                <select name="" class="form-select form-custom" id="selectDebtor">
                    <option value="" selected>[Select]</option>
                    {{#each allDebtors}}
                        <option value="{{_id}}">{{name}}</option>
                    {{/each}}
                </select>
                <label for="selectAccount" class="text-light">Who</label>
            </div>
        </div>
        <div class="col-10 col-sm-4 col-lg-2 my-2 d-none divToShow">
            <button id="buttonNew" class="btn btn-outline-light w-100 h-100" data-bs-toggle="modal" data-bs-target="#manageBill">New</button>
        </div>
        <div class="col-12">
            <hr class="border border-1 opacity-50">
        </div>
        <div class="col-12 col-lg-3 d-none divToShow">
            <div class="table-responsive">
                <table class="table table-sm table-bordered text-light">
                    <thead class="align-middle" style="background-color: rgba(69, 69, 69, 0.251);">
                        <tr>
                            <th scope="col" data-bs-toggle="tooltip" title="Total Value">Total</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                        <tr>
                            <td id="debtorTotal"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-12 d-none divToShow">
            <div class="table-responsive">
                <table class="table table-sm table-bordered text-light">
                    <thead class="align-middle" style="background-color: rgba(69, 69, 69, 0.251);">
                        <tr>
                            <th class="fs-custom" scope="col">Date</th>
                            <th class="fs-custom" scope="col">Info</th>
                            <th class="fs-custom" scope="col">Value</th>
                            <th class="fs-custom" scope="col" colspan="2"></th>
                        </tr>
                    </thead>
                    <tbody class="align-middle" id="tableBills"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="manageBill" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h3 class="modal-title text-center" id="manageBillTitle">Bill</h3>
                <div style="right: 2%; z-index: 10" class="position-absolute">
                    <a role="button" class="link-light" data-bs-dismiss="modal">
                        <i class="fas fa-times align-middle h3 m-0"></i>
                    </a>
                </div>
            </div>
            <div class="modal-body">
                <div class="row justify-content-center text-center">
                    <input name="_id" id="inputBillId" class="d-none" disabled autocomplete="off">
                    <input name="_id" id="inputDebtorId" class="d-none" disabled autocomplete="off">
                    <div class="col-11 col-lg-4">
                        <div class="form-floating mb-3">
                            <input name="debtorName" type="text" class="form-control form-custom" id="inputDebtorName" value="" disabled autocomplete="off">
                            <label for="inputDebtorName">Debtor</label>
                        </div>
                    </div>
                    <div class="col-11 col-lg-7">
                        <div class="form-floating mb-3">
                            <input name="dateInput" type="date" class="form-control form-custom" id="inputDateInput" placeholder="Example" autocomplete="off">
                            <label for="inputDateInput">Date</label>
                        </div>
                    </div>
                    <div class="col-2 mb-3">
                        <button onclick="changePlusMinus()" class="btn btn-outline-light w-100 h-100 btnPlusMinus h3"><i class="fa-solid fa-plus-minus"></i></button>
                    </div>
                    <div class="col-9">
                        <div class="form-floating mb-3">
                            <input name="value" type="number" class="form-control form-custom" id="inputValue" step="0.01" placeholder="Example" autocomplete="off">
                            <label for="inputValue">Value</label>
                        </div>
                    </div>
                    <div class="col-11 col-lg-8">
                        <div class="form-floating mb-3">
                            <input name="info" type="text" class="form-control form-custom" id="inputInfo" placeholder="Example" autocomplete="off">
                            <label for="inputInfo">Info</label>
                        </div>
                    </div>
                    <div class="col-3 mb-3">
                        <button class="btn btn-light w-100 h-100" id="buttonSave" onclick="saveButton()" data-bs-dismiss="modal">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteBillModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h3 class="modal-title text-center">Delete Bill</h3>
                <div style="right: 2%; z-index: 10" class="position-absolute">
                    <a role="button" class="link-light" data-bs-dismiss="modal">
                        <i class="fas fa-times align-middle h3 m-0"></i>
                    </a>
                </div>
            </div>
            <div class="modal-body">
                <div class="row justify-content-center text-center">
                    <input id="inputBillIdDelete" class="d-none" disabled autocomplete="off">
                    <div class="col-sm-4">
                        <button class="btn btn-danger w-100 h-100" onclick="deleteBill()" data-bs-dismiss="modal">Delete</button>
                    </div>
                    <div class="col-lg-4">
                        <button class="btn btn-light w-100 h-100" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div id="liveToast" data-bs-delay="1500" class="toast hide" style="width: fit-content" role="alert">
        <div id="toastSuccess" class="toast-header text-success">
            <i class="fas fa-check fa-lg me-2"></i>
            <strong class="me-auto">Success</strong>
        </div>
        <div id="toastError" class="toast-header text-danger">
            <i class="fas fa-times fa-lg me-2"></i>
            <strong class="me-auto">Error</strong>
        </div>
    </div>
</div>