
<div class="container-fluid h-100">
    <div class="row justify-content-center align-items-center text-center h-100">

        <h1 class="text-light">Rents</h1>

        <!-- NF-1 -->
        <div class="col-5" style="height: 25vh;">
            <a role="button" class="card-box" data-bs-toggle="modal" data-bs-target="#nf1">
                <div class="card-box-title default">
                    NF-1
                </div>
                <div class="card-box-caption">
                    <div class="description-head">
                        Head
                    </div>
                    <div class="description-body">
                        Body
                    </div>
                </div>
            </a>
        </div>

        <!-- Nf-58 -->
        <div class="col-5" style="height: 25vh;">
            <a role="button" class="card-box" data-bs-toggle="modal" data-bs-target="#nf58">
                <div class="card-box-title default">
                    NF-58
                </div>
                <div class="card-box-caption">
                    <div class="description-head">
                        Head
                    </div>
                    <div class="description-body">
                        Body
                    </div>
                </div>
            </a>
        </div>

        <div class="w-100"></div>

    </div>
</div>

<!-- JS-->
<script src="js/allBills.js"></script>
